html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #eee;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  width: 0.1rem;
  border-radius: 10px;
  background: rgba(136, 136, 136, 0.8);
}

.mousep {
  cursor: pointer;
}

.chart {
  min-height: 300px;
}